.vscode
.ignoreme

__pycache__

thirdparty/*
!thirdparty/CMakeLists.txt
!thirdparty/cache-win32
!thirdparty/glad*
!thirdparty/KHR/

include/baked_shaders.h
locale/compiled

dist
build
objects
libraries
external_projects
/LPPShow*
/run-tests*

*.mtl
*.old
imgui.ini
