.vscode
.ignoreme

__pycache__

thirdparty/imgui
thirdparty/cdd*
libraries
!thirdparty/glad*
!thirdparty/KHR/

include/baked_shaders.h

dist
build
objects
external_projects
/LPPShow*
/run-tests*

*.mtl
*.old
imgui.ini
